:root {
    --mainFont: 'Poppins', sans-serif;;
    --secFont: 'Leg Hug', sans-serif;
    --prim: #9eb9ce;
}

/* 
Global Styling
*/

body {
    background-color: black;
}

/* 
Header
*/

.nav-item {
    font-family: var(--secFont);
    font-size: 20px;
    letter-spacing: 1px;
    /* border-right: solid 3px white;
    line-height: 8px; */
}

/* .nav-item:last-child {
    border-right: none;
} */

.nav-item a{
    color: white;
    border-radius: 5px;
}

.nav-item a:hover {
    background-color: var(--prim);
    border-radius: 5px;
    color: black;
    /* padding: 2px 6px 2px 6px; */
    
}

/*  
Main
*/

.slash {
    color: var(--prim)
}

.hero-section {
    color: white;
}

.hero-text {
    font-family: var(--mainFont);
    font-size: 150px;
    letter-spacing: -9px;
    line-height: 120px;
    
}

.hero-text span {
    margin-left: -10px;
    color: var(--prim);
}

@media (max-width: 600px) {
    .hero-text {
        font-size: 80px;
        letter-spacing: -3px;
        line-height: 65px;
    }


}



.welcome {
    font-family: var(--mainFont);
    font-size: 15px;
    letter-spacing: 30px;
}

.welcome span {

    color: var(--prim);
}

.snapshot-image img:hover {
    border: 2px solid var(--prim);
}

.port-ss a {
    text-decoration: none;
}
/* 
Footer
*/

.socials a{
    text-decoration: none;
    color: white;
    
}

.social-icons a{
    padding-right: 10px;
}

.social-icons a:last-child {
    padding-right: 0;
}

.social-icons a:hover {
    color: var(--prim);
}


/* 
About
*/

.header-text {
    color: white;
    font-family: var(--mainFont);
    text-transform: uppercase;
    line-height: 75px;
}

.header-text span {
    color: var(--prim);
    margin-left: -12px;
}

.header-1 {
    font-size: 140px;
}

.header-2 {
    font-size: 75px;
}

@media (max-width: 600px) {
    .header-text {
        line-height: 50px;
    }

}

@media (max-width: 600px) {
    .header-1 {
        font-size: 100px;
    }

}

@media (max-width: 600px) {
    .header-2 {
        font-size: 55px;
    }

}

/* 
Main
*/

.bio {
    padding-left: 0;
}



.bio-text {
    font-family: var(--mainFont);
    font-size: 45px;
    color: white;
    line-height: 15px;
    padding-top: 25px;
    
}

.dev  {
    
    font-size: calc(25px + (30 - 25) * ((100vw - 300px) / (1600 - 300)));
}

@media (max-width: 600px) {
    .bio-text {
        font-size: 40px;
        line-height: 10px;
    }

}
/* @media (max-width: 600px) {
    .dev {
        font-size: 25px;
    }

} */

.period {
    color: var(--prim);
}

.bio-main {
    font-size: 12px;
}


/* 
Projects
*/

/* 
Main
*/

.projects-header {
    color: white;
    font-family: var(--mainFont);
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: -4px;
}

.projects-header span {
    color: var(--prim);
}

@media (max-width: 600px) {
    .projects-header {
        font-size: 65px;
    }

}
.carousel-item h5 {
    font-family: var(--mainFont);
    font-size: 40px;
    text-transform: uppercase;
    
}


.carousel {
    border: solid 10px var(--prim);
}


/* 
Contact
*/

.contact {
    font-size: 40px;
    text-transform: uppercase;
    font-family: var(--secFont);
    letter-spacing: 1px;
}

.contact a{
    font-size: 40px;
    text-transform: uppercase;
    font-family: var(--secFont);
    letter-spacing: 1px;
    text-decoration: none;
}

.contact-icon {
    color: var(--prim);
}
